{% extends "base.html" %} {% block title %}Rain City Dog{% endblock %} {% block content
%}
<section id="hero">
  <!-- feature cards -->
    <div class="row cards mt-4 p-4 p-md-5 mb-4">
      <h1 class="center"> Boarding at Rain City Dog</h1>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="./static/img/peakingDog.png" class="icon" alt="24 Hour Monitoring"/>
            <h5 class="card-title">Safe monitored environment</h5>
            <p class="card-text">Our cage free facility is monitored 24/7 and our staff are trained to handle any situation, providing a secure environment for your dog. </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="./static/img/sleepingDog.png" class="icon" alt="Comfortable Accommodations"/>
            <h5 class="card-title">Comfortable Accommodations</h5>
            <p class="card-text">Owner's can bring familiar items like beds, toys, and blankets. Dogs from the same family may board together.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="./static/img/playingDog.png" class="icon" alt="Supervised Play"/>
            <h5 class="card-title">Supervised Play</h5>
            <p class="card-text">Dogs attend daycare during the day and have a restful evening  in our quiet area afterwards. </p>
          </div>
        </div>
      </div>
    </div>
  <!-- end feature cards -->
  <!-- boarding hours -->
      <div class="row mt-4">
  <h1 class="center"> Hours </h1>
        <h5>Drop off must occur before 3 pm in order to allow your dog to adjust to our environment. <br>
         To avoid daycare charges the following day, pick up must occur before 10 am. <br>
          Open every day for boarding.
        </h5>
      </div>
  <!-- end boarding hours -->
    <!-- boarding pricing -->
  <div class="container">
    <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Boarding Options</h1>
  <p class="center">Choose the package you need to provide your pup with a vacation while you are on vacation.  </p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>1 night of boarding:</td>
        <td>$80 per night</td>
      </tr>
      <tr>
        <td>2-7 nights:</td>
        <td>$75 per night</td>
      </tr>
      <tr>
        <td>8-14 nights:</td>
        <td>$70 per night</td>
      </tr>
     <tr>
        <td>15+ nights</td>
        <td>$65 per night</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
<!-- end boarding pricing -->
  <!-- add on pricing -->
    <div class="container">
      <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Add Ons</h1>
  <p class="center">We are happy to provide additional services to pamper your pup while they are away from home. </p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>10 minute walk outside on leash:</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>20 minute walk outside on leash:</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>15 minute 1:1 play with ball or toy:</td>
        <td>$16</td>
      </tr>
     <tr>
        <td>15 minute 1:1 cuddle time:</td>
        <td>$16</td>
      </tr>
    <tr>
        <td>Peanut butter filled kong:</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>
      </div>
</div>
  <!-- end add on pricing -->
  <!-- Enrollment steps-->
  <h1 class="center">How to Start</h1>
<div class="card-group">

  <div class="card">
    <div class="card-body">
      <svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#683aa4r" class="bi bi-person-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
  <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg>
      <h5 class="card-title">1. Create A Profile</h5>
      <p class="card-text text-left">Register with your email address and complete the dog questionare. </p>
      <a href="/sign-up"><span class="btn btn-outline-success me-2">Register</span></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
</svg>
      <h5 class="card-title">2. Book an evaluation</h5>
      <p class="card-text text-left">Submit your dogs vaccine records and book a new dog evaluation online or through our front desk.</p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
</svg>
      <h5 class="card-title">3. New Dog Evaluation</h5>
      <p class="card-text text-left">Your dog wil spend 1 day in our care to ensure that he/she is happy at our center.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg>
      <h5 class="card-title">4. Pick a plan and make reservations</h5>
      <p class="card-text text-left">If we are a good fit for your dog, use our online portal to book daycare and boarding sessions. </p>
    </div>
  </div>
</div>
  <!-- end Enrollment stepper-->
    <!-- Requirements -->
    <div class="row mt-4 p-4 p-md-5 mb-4 ">
    <h1 class="center">Requirements</h1>
      <ul class="list-group list-group-flush">
        <li>Dogs must be older than 8 months for boarding. </li>
          <li> The following vaccines are required to be up to date:</li>
          <ul>
            <li>Bordatella (AKA kennel cough) must be renewed every 6 months</li>
            <li>Rabies for dogs four months old and older</li>
            <li>DHPP</li>
            <li>Leptospirosis (recommended)</li>
          </ul>
          <li>Additionally, dogs must have:</li>
          <ul>
              <li>Record of spay/neuter</li>
              <li>Proof of negative fecal test every 12 months</li>
              <li>Record of spay/neuter by 8 months of age</li>
          </ul>
    </div>
    <!-- end requirements -->
    <!-- quick tips -->
    <div class="row mt-4 p-4 p-md-5 mb-4 ">
    <h1 class="center">Quick Tips</h1>
      <ul class="list-group list-group-flush">
        <li>Some days fill up quickly, we recommend creating reservations at least a day in advance.</li>
        <li>For day of reservations, call in the morning to check availability.</li>
        <li>If you prefer in person or over the phone reservations to online reservations, or staff are happy to assist. </li>
      </ul>
      </div>
    <!-- end quick tips -->
    <!-- late/cancellation policy -->
      <div class="row mt-4 p-4 p-md-5 mb-4 ">
    <h1 class="center">Late and Cancellation Policy</h1>
      <ul class="list-group list-group-flush">
        <li>The after hours pick up fee is $16. </li>
        <li>After hours pick up fee will be charged if pick up occurs after 7 pm on weekdays or after 5pm on weekends. </li>
        <li>Morning Half day pick up ends at 1 pm. If pick up is after 1 pm, the reservation will be changed to a full day.</li>
        <li>Reservations must be cancelled by 7 am the day of the reservation or a $20 cancellation fee will be charged</li>
      </ul>
      </div>
    <!-- end late/cancellation policy -->
    </section>
{% endblock %}