{% extends "base.html" %} {% block title %}Rain City Dog{% endblock %} {% block content
%}
<section id="hero">
  <!-- address and hours  -->
    <div class="row">
      <div class="col">
        <h1>Location & Hours</h1>
        <p>With over 53,000 square feet indoors and 1,000 square feet outdoors, we provide exceptional 24/7 supervised indoor and outdoor care for dogs in our daycare and boarding program.</p>
        <h2> Address</h2>
        <p> 123 45th St. <br>
        Seattle, WA 98109 <br>
          <h2> Phone</h2>
        <p> (206)789-1010 </p>
        <h2> Hours </h2>
        <p> Monday-Friday 7 am to 7 pm <br>
          Saturday & Sunday 8 am to 5 pm <br>
          Open every day for daycare except Christmas and New Years.
        </p>
      </div>
    <div class="col img-col">
      <img src="./static/img/cuteDog.png" alt="dog" class="img-fluid">
    </div>
    </div>
  <!-- end address and hours -->
  <!-- indoor play area -->
  <div class="px-4 py-5 my-5 text-center">
    <img src=".\static\img\indoorPlayground.png" class="img-fluid" style="width: 700px;">
    <h1 class="center">Indoor Play Area</h1>
    <div class="col-lg-6 mx-auto">
      <p>Our spacious indoor play area is perfect for any weather. Separate areas for big dogs and small dogs helps ensure safety. Staff ensure that the dogs are monitored 24 hours a day 7 days a week and that the maximum capacity is never exceeded for any area. We have separate indoor areas for large dogs, small dogs, seniors, and puppies. </p>
      <div class="b-example-divider"></div>
    </div>
  </div>
  <!-- end indoor play area -->
  <!-- outdoor play area -->
   <div class="px-4 py-5 my-5 text-center">
    <img src=".\static\img\outdoor.png" class="img-fluid" style="width: 700px;">
    <h1 class="center">Outdoor Play Area</h1>
    <div class="col-lg-6 mx-auto">
      <p>Our outdoor zone allows dogs to burn off some steam in a different environment with fresh air, ensuring that they are engaged all day and come home tired from a full day of play. </p>
      <div class="b-example-divider"></div>
    </div>
  </div>
  <!-- end outdoor play area -->
</section>

{% endblock %}

