{% extends "base.html" %} {% block title %}Rain City Dog{% endblock %} {% block content
%}

<!-- Daycare pricing -->
<section class="hero">
<div class="container">
  <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Daycare Pricing</h1>
  <p class="center">Choose from a range of daycare plans tailored to fit your needs. Half day reservations for up to four hours. </p>
  <table class="table table-hover">
    <caption>Discounts are available for multiple dogs <br> Packages expire 6 months from the date of purchase</caption>
    <thead>
      <tr>
        <th></th>
        <th>Full Day</th>
        <th>Half Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Single Visit</td>
        <td>$59</td>
        <td>$42</td>
      </tr>
      <tr>
        <td>5 Day Package</td>
        <td>$265</td>
        <td>$190</td>
      </tr>
      <tr>
        <td>10 Day Package</td>
        <td>$475</td>
        <td>$380</td>
      </tr>
     <tr>
        <td>20 Day Package</td>
        <td>$940</td>
        <td>$675</td>
      </tr>
     <tr>
        <td>Monthly Unlimited</td>
        <td>$975</td>
        <td>n/a</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
  <!-- end daycare pricing -->
  <!-- boarding pricing -->
  <div class="container">
    <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Boarding Options</h1>
  <p class="center">Choose the package you need to provide your pup with a vacation while you are on vacation.  </p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>1 night of boarding:</td>
        <td>$80 per night</td>
      </tr>
      <tr>
        <td>2-7 nights:</td>
        <td>$75 per night</td>
      </tr>
      <tr>
        <td>8-14 nights:</td>
        <td>$70 per night</td>
      </tr>
     <tr>
        <td>15+ nights</td>
        <td>$65 per night</td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
  <!-- end boarding pricing -->
  <!-- add on pricing -->
    <div class="container">
      <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Add Ons</h1>
  <p class="center">We are happy to provide additional services to pamper your pup while they are away from home. </p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>10 minute walk outside on leash:</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>20 minute walk outside on leash:</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>15 minute 1:1 play with ball or toy:</td>
        <td>$16</td>
      </tr>
     <tr>
        <td>15 minute 1:1 cuddle time:</td>
        <td>$16</td>
      </tr>
    <tr>
        <td>Peanut butter filled kong:</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>
      </div>
</div>
  <!-- end add on pricing -->
    <!-- grooming pricing -->
        <div class="container">
      <div class="p-4 p-md-5 mb-4 ">
  <h1 class="center">Grooming Options</h1>
  <p class="center">We offer salon services for dogs that range from baths to hair cuts and style. Groomers will provide their best estimate for exact pricing at drop off. </p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Bath and Blow Out:</td>
        <td>starts at $80</td>
      </tr>
      <tr>
        <td>De-Matting Services:</td>
        <td>$15 per 15 minutes</td>
      </tr>
      <tr>
        <td>Haircut and Style:</td>
        <td>starts at $100</td>
      </tr>
    </tbody>
  </table>
          <table class="table table-hover">
              <thead>
              <tr><strong>Add Ons</strong></tr>
              <tr></tr>
              </thead>
          <tbody>
     <tr>
        <td>Soothing Conditioner:</td>
        <td>$10</td>
      </tr>
    <tr>
        <td>Flea and Tick Treatment:</td>
        <td>$10 short coat <br>
        $20 long coat</td>
      </tr>
    </tbody>
  </table>
      </div>
</div>
    <!-- end grooming pricing -->

</section>
{% endblock %}
